* {
    font-family:Impact;
    box-sizing: border-box;
}

canvas {
    border: 30px solid #0454a8;
    background-color: #fbdb0c;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: block;
  }

body   {  
    height: 100vh;
    background-color:#FB0CA4;
        }

#wall {
    background-color: #0454a8;
}

h1{
    font-family:Impact;
    text-align: center;
    color: #FBDB0C;
    font-size: 30pt;
    letter-spacing: 0.2em;

}

